.mainContainer {
  height: var(--profile-content-height);
  width: var(--profile-content-width);
  overflow: scroll;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffb3;
}

.inner {
  padding: 10px;
  width: 100%;

  @media screen and (min-width: 980px) {
    width: 800px;
  }
}

.description {
  margin: 40px;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 1.7rem;
}
