.wrapper {
  height: var(--profile-content-height);
  width: 100%;
}

.wrapper-color-satoshi {
  background-color: #00e1ffb3;
}

.wrapper-color-azusa {
  background-color: rgb(207 255 192 / 30%);
}

.inner {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContent {
  text-align: center;
  width: 300px;
}

.helloMessage {
  position: relative;
  padding: 3px;
  width: 100px;
  height: 80px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  letter-spacing: 0.2em;
  font-size: 2rem;
  background-color: #d2d1d1;
}

.helloMessage::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: 2px;
  bottom: 2px;
  border-left: 20px solid #d2d1d1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(45deg);
}

.nameKanji {
  color: #fff;
  font-size: 10rem;
}

.nameAlphabet {
  color: #fff;
  font-size: 5rem;
}
