.wrapper {
  width: var(--profile-content-width);
  max-width: var(--profile-max-width);
  color: var(--font-color);
}

.wrapper-background-color-satoshi {
  background-color: var(--profile-background-satoshi);
}

.wrapper-background-color-azusa {
  background-color: var(--profile-background-azusa);
}

.inner {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 10px;
}

.profileImage {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 10px #00000042;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;

  @media screen and (min-width: 980px) {
    width: 250px;
    height: 250px;
  }
}

.sectionTitle {
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

.detailSection {
  height: 650px;

  @media screen and (min-width: 980px) {
    width: 800px;
    height: 550px;
  }
}

.detail {
  margin: 10px;
  font-size: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px #00000042;
  background-color: var(--content-background-color);
  padding: 10px;
}

.detailContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;

  .detailName {
    font-size: 2.5rem;
    margin: 1px;
  }

  .detailValue {
    font-size: 1.8rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
  }

  @media screen and (min-width: 980px) {
    flex-direction: row;
    text-align: left;

    .detailName {
      font-size: 2rem;
      width: 100px;
    }

    .detailValue {
      width: 300px;
      overflow-wrap: break-word;
    }
  }
}
