.wrapper {
  min-height: var(--profile-content-height);
  width: var(--profile-content-width);
  max-width: var(--profile-max-width);
  background-color: var(--background-satoshi);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timelineSection {
  @media screen and (min-width: 980px) {
    width: 1000px;
  }
}

.sectionTitle {
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 50px;
  text-align: center;
  color: white;
}

.VerticalTimelineDate {
  margin: 10px;
  width: 100%;
  margin-bottom: -12px;
}
