:root {
  --until-tablet-font-size: 56.25%;
  --from-desktop-font-size: 62.5%;
  --profile-max-width: 1800px;
  --profile-content-height: 100vh;
  --profile-content-width: 100vw;
  --font-color: #353535;
  --color-brand-main: rgb(248 186 87);
  --background-satoshi: rgb(36 149 241 / 58%);
  --background-school-satoshi: rgb(36 149 241 / 58%);
  --background-university-satoshi: rgb(36 149 241 / 58%);
  --background-company-satoshi: rgb(36 149 241 / 58%);
  --background-azusa: rgb(36 149 241 / 58%);
  --background-school-azusa: rgb(36 149 241 / 58%);
  --background-university-azusa: rgb(36 149 241 / 58%);
  --background-company-azusa: rgb(36 149 241 / 58%);
  --content-background-color: #f4f4f4bc;
}

html {
  @media screen and (max-width: 980px) {
    font-size: var(--until-tablet-font-size);
  }

  @media screen and (min-width: 980px) {
    font-size: var(--from-desktop-font-size);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
