:root {
  --color-brand-main: rgb(248 186 87);
  --background-azusa: rgb(181 255 202);
  --foreground-azusa: green;
  --background-satoshi: rgb(152 245 255);
  --foreground-satoshi: white;
  --profile-content-height: 100vh;
  --profile-content-width: 100vw;
  --until-tablet-font-size: 56.25%;
  --from-desktop-font-size: 62.5%;
  --profile-max-width: 1800px;
}

html {
  @media screen and (max-width: 980px) {
    font-size: var(--until-tablet-font-size);
  }

  @media screen and (min-width: 980px) {
    font-size: var(--from-desktop-font-size);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
