.wrapper {
  min-height: var(--profile-content-height);
  max-width: var(--profile-max-width);
  width: 100%;
  background-color: rgb(200 42 10 / 60.9%);
}

.inner {
  margin: 45px 10px;

  @media screen and (min-width: 980px) {
    margin: 65px 50px;
  }
}

.heading {
  text-align: center;
  background-color: orange;
  font-size: 2rem;
}

.description {
  background-color: pink;
}
