.wrapper {
  max-width: var(--profile-max-width);
  width: 100%;
}

.inner {
  padding: 10px;
}

.heading {
  color: var(--font-color);
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  white-space: pre-wrap;
  background-color: var(--content-background-color);
  border-radius: 10px;
}

.description {
  color: var(--font-color);
  color: black;
  font-size: 1.8rem;
}
