.wrapper {
  width: var(--profile-content-width);
  max-width: var(--profile-max-width);
  background-color: var(--background-satoshi);
  color: black;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 50px;
  text-align: center;
  color: white;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  height: 1750px;

  @media screen and (min-width: 980px) {
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    height: 650px;
  }
}

.hobbyCard {
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  background-color: var(--content-background-color);
  overflow: hidden;
  border-radius: 3%;
  height: 550px;

  @media screen and (min-width: 980px) {
    width: 400px;
    height: 600px;
  }
}

.hobbyCardTitle {
  margin: 5px 0;
  font-size: 1.5rem;
  text-align: center;
}

.hobbyCardImage {
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.hobbyCardDescription {
  padding: 15px;
  line-height: 3rem;
  font-size: 1.8rem;
}
