.mainContainer {
  height: var(--profile-content-height);
  width: var(--profile-content-width);
  overflow: scroll;
  z-index: 1;
}

.mainContainer-background-color-azusa {
  background-color: var(--profile-background-azusa);
}

.mainContainer-background-color-satoshi {
  background-color: var(--profile-background-satoshi);
}

.screenBlockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}
