.mainContainer {
  height: var(--profile-content-height);
  width: var(--profile-content-width);
  overflow: scroll;
  z-index: 1;
}

.screenBlockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}
