.wrapper {
  width: var(--profile-content-width);
  max-width: var(--profile-max-width);
  height: var(--profile-content-height);
  background-color: var(--background-satoshi);
  color: black;
}

.wrapper-background-color-satoshi {
  background-color: var(--profile-background-satoshi);
}

.wrapper-background-color-azusa {
  background-color: var(--profile-background-azusa);
}

.inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 1.8rem;
  white-space: pre-wrap;
  color: #fff;
  height: 300px;
  width: 350px;

  @media screen and (min-width: 980px) {
    width: 500px;
  }
}
